<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Members</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="script/bootstrap.bundle.min.js"></script>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"> Name </th>
                        <th scope="col">Matches Played</th>
                        <th scope="col">Wins </th>
                        <th scope="col">Losses </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${users.empty}">
                        <td colspan="2"> No Users Available </td>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td><span th:text="${user.firstName}"></span></td>
                        <td><span th:text="${user.matchesPlayed}"></span> </td>
                        <td><span th:text="${user.wins}"></span> </td>
                        <td><span th:text="${user.losses}"></span> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>



</body>
</html>