<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Scoreboard</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="../static/script/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Member Information</h1>

        </div>

        <h1 th:text="${search.getSearchValue()}"></h1>

        <table class="table-borderless">
            <thead>
            <tr>
                <th scope="col"> Name </th>
                <th scope="col">Matches Played</th>
                <th scope="col">Wins </th>
                <th scope="col">Losses </th>
                <th scope="col">Highest Score </th>
                <th scope="col">Average Score </th>


            </tr>
            </thead>
        </table>
    </div>
    </div>
    </div>
</main>

<body>


</body>
</html>