<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Scoreboard</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="../static/script/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Member Information</h1>
            <td class="display-3" th:text="${#lists.size(member)+' Result(s) Were Found'}"></td>
        </div>
        <div>
            <table class="table">

                <thead>
                <tr>
                    <th scope="col"> First Name</th>
                    <th scope="col"> Last Name</th>
                    <th scope="col"> Phone Number</th>
                    <th scope="col">Matches Played</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${member}">
                    <form name="addUser" action="/selectUser" method="post">
                        <td><span th:text="${user.firstName}"></span></td>
                        <td> <input type="text" th:value="${user.id}"/></td>
                        <td><span th:text="${user.lastName}"></span></td>
                        <td><span th:text="${user.phoneNumber}"></span></td>
                        <td><span th:text="${user.matchesPlayed}"></span></td>
                        <td><span th:text="${user.wins}"></span></td>
                        <td><span th:text="${user.losses}"></span></td>
                        <td><input type="submit" name="action" value="Accept"/>
                        </td>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>
    </div>
</main>

<body>


</body>
</html>