<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Scoreboard</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="script/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Scoreboard</h1>
        </div>
    </div>
</main>

<body>




</body>
</html>